.game-cont {
  height: auto;
}

header {
  width: 100vw;
  height: 100vh;
  padding: 20px 100px 20px;;
}

.game__text h1 {
  font-size: 3.4rem;
  line-height: 5rem;
  margin-bottom: 50px;
}
.game__text p {
  margin-bottom: 45px;
  font-size: 2.4rem;
} 
.game__text a {
  text-decoration: none;
  color: #00afb9;
  text-shadow: 2px 2px 3px #613659;
}
.game__text a:active {
  color: #613659;
}


/* CANVAS CONTAINER */

.canvas-cont {
  width: 70vw;
  height: 100vh;
  padding: 20px;
}

.messages {
  width: 100%;
  max-width: 200px;
}
.messages p {
  line-height: 2.1rem;
  width: 30rem;
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.messages p #lives {
  font-size: 2.3rem;
} 


/* BUTTONS */

.btns {
  width: 30vw;
  height: 100vh;
  padding: 30px 15px 30px 15px;
}

button {
  padding: 10px;
  width: 14vw;
  height: 7rem;
  min-width: 100px;
  font-size: 1.6rem;
}
button:not(:last-child) {
  margin-right: 10px;
}

.game__btns {
  margin-bottom: 25px;
}
.game__btns button {
  margin: 0;
  margin-right: 14px;
}
.game__btns #reset {
  width: 62px;
  height: 40px;
  padding: 4px;
  font-size: 0.9rem;
  min-width: 50px;
}

.move__btns {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.move__btns button {
  height: 6.9vw;
  width: 6.9vw;
  min-width: 47px;
  min-height: 47px;
}
.move__btns button img {
  height: 5vw;
  width: 5vw;
  min-height: 40px;
}

/* .btns #result {
  width: 94%;
  max-height: 19rem;
  font-size: 1.3rem;
  padding: 0 15px 0
} */


/* @media(max-width: 825px) {
  .btns #result {
    font-size: 1.1rem;
  }
} */

@media(max-height: 510px) {
  canvas {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 8px;
  }
  .messages {
    width: 100%;
    max-width: 200px;
  }
  .messages p {
    line-height: 2.2rem;
    width: 23rem;
    font-size: 1rem;
    margin-bottom: 6px;
  }
  .messages p #lives {
    font-size: 2.4rem;
  } 
  /* .btns #result {
    font-size: 1rem;
  } */
}
