.game-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
  
  
/* HEADER */

header, .game__text, .game__btns {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  width: 100vw;
  height: 100vh;
  font-size: 1.8rem;
  padding: 20px 40px 30px 40px;
  background-color: #C197D2;
}

.game__text {
  width: 100%;
}
.game__text h1 {
  font-size: 3.4rem;
  line-height: 4.6rem;
  margin-bottom: 35px;
}
.game__text p {
  margin-bottom: 35px;
  font-family: var(--sec-font);
  font-size: 2.2rem;
}


/* CANVAS CONTAINER */

.canvas-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 77vh;
  padding: 15px;
}

canvas {
  margin: 10px 0 25px;
}

.messages p {
  line-height: 1.4rem;
  width: 26rem;
  font-size: 1rem;
  margin-bottom: 8px;
}
.messages p #lives {
  font-size: 1.7rem;
}


/* BUTTONS */

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 23vh;
  padding: 10px 23px 10px;
}

button {
  padding: 10px 10px;
  width: 18vw;
  max-height: 60px;
  font-size: 1.5rem;
  min-width: 100px;
}

button:not(:last-child) {
  margin-right: 5px;
}

.game__btns {
  font-size: 1.8rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
}
.game__btns button {
  margin-right: 14px;
}

.move__btns {
  margin-bottom: 0;
  margin-right: 12px;
}
.move__btns button {
  height: 7.4vw;
  width: 7.4vw;
  min-width: 44px;
  min-height: 44px;
  margin-bottom: 0;
}
.move__btns button img {
  height: 6.4vw;
  width: 6.4vw;
  min-width: 38px;
}
.move__btns div button {
  margin-bottom: 5px;
}

/* .btns #result {
  width: 18rem;
  height: 94px;
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding: 0 0 0 15px;
} */


@media(max-width: 550px) {
/*   .btns #result {
    width: calc(100vw - 370px);
    font-size: 1rem;
    line-height: 1.6rem;
    height: calc(100% - 20px)
  } */
}

@media(max-width: 510px) {
  button {
    padding: 10px 10px;
    max-height: 60px;
    font-size: 1.3rem;
    min-width: 80px;
  }
/*   .btns #result {
    width: calc(100vw - 320px);
    height: calc(100% - 22px);
    font-size: 1rem;
  } */
  .canvas-cont {
    height: 75vh;
  }
  .btns {
    height: 25vh;
    padding: 10px;
  }
}

@media(max-width: 440px) {
  .canvas-cont {
    height: 77vh;
  } 
  .btns {
    flex-wrap: wrap;
    height: auto;
    padding: 20px 15px 20px;
  }
  .game__btns {
    width: auto;
    margin-bottom: 15px;
  }
  
  .move__btns {
    margin-bottom: 0;
    width: auto;
    margin-bottom: 40px;
  }

/*   .btns #result {
    width: calc(100vw - 30px);
    height: 55px;
    font-size: 1rem;
    padding: 20px 0 10;
    text-align: center;
  } */
}

@media(max-width: 360px) {
  .game__text h1 {
    font-size: 2.9rem;
    line-height: 3.8rem;
    margin-bottom: 26px;
  }
  .game__text p {
    font-size: 2rem;
  }
  .game__text a {
    font-size: 1.5rem;
  }
  button {
    max-height: 50px;
    font-size: 1.2rem;
    min-width: 80px;
  }
}

@media(max-height: 580px) {
  .game__text h1 {
    font-size: 2.6rem;
    line-height: 3.2rem;
    margin-bottom: 25px;
  }
  .game__text p {
    font-size: 1.9rem;
  }
}
